.error {
  color: #bf1650;
}

.error::before {
  display: inline;
  content: "⚠ ";
}

.flex-buttons {
  display: flex;
  justify-content: space-evenly;
}

ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.profile-thumbnail {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}
